<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="card">
    <div class="heading">
        <h1>TO-DO LIST</h1>
    </div>
    <div class="items">
   <% for(var i = 0; i < listitem.length; ++i) { %> 
        <div class="row">
            
            <p class="set"><%= listitem[i] %></p>
            <form class="deleteform" method="post" action="/delete">
                <input type="hidden" name="index" value="<%= i %>">
                <button class="delete-button" type="submit">X</button>
            </form>
        </div>
   <% } %>     
    </div>

    <form method="post" action="/" class="input">
        <input type="text" name="newinput" class="new" placeholder="enter new list item" autocomplete="off">
        <button class="button">+</button>
    </form>
    
</div>
</body>
</html>
